body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8fafd;
}
